.prod-detail {
    display: flex;
    justify-content: space-around;
}

.prod-detail img {
    width: 50%;
}

.prod-detail .info {
    width: 35%;
}

.prod-detail .price {
    margin-top: 1rem;
}

.prod-detail .description {
    font-weight: normal;
    margin: 2rem 0;
}

#btn-comprar {
    display: none;
    margin-top: 1.5rem;
    background-color: black;
    color: white;
}

.prod-detail .carrito {
    padding: 0;
}