.card {
    text-align: center;
    margin-bottom: 4rem;
}

.prod-link:hover img {
    opacity: 0.6;
}

.card-body {
    padding-bottom: 0;
}

.mi-btn {
    background-color: cadetblue;
    border: none;
    color: white !important;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 0;
}

.mi-btn:hover {
    background-color: black;
}

.carrito {
    padding: 1.25rem;
    padding-top: 0;
}

.carrito:hover p {
    color: #000000;
}

a {
    color: #000000;
}

a:hover {
    color: #000000;
}