.card {
    text-align: center;
    margin-bottom: 4rem;
}

.prod-link:hover img {
    opacity: 0.6;
}

.card-body {
    padding-bottom: 0;
}

.mi-btn {
    background-color: cadetblue;
    border: none;
    color: white !important;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0;
}

.mi-btn:hover {
    background-color: black;
}

.mi-btn:focus, 
.mi-btn:active, 
.mi-btn.active {
    background-color: cadetblue !important;
    outline: none;
    box-shadow: none;
}

a {
    color: #000000;
}

a:hover {
    color: #000000;
}