@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family:'Lato', Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
}

.my-container {
  width: 100%;
  margin: auto;
}

h2.contacto {
    padding: 2rem calc(7.5% + 15px);
}

.nav-category {
  padding: 2rem calc(7.5% + 15px);
  padding-bottom: 0;
  font-weight: normal;
}